body {
    background-color: #121212;
    color: white;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.top-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(2, 72, 86);
    padding: 10px 10px;
    
}

.logo img{
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 30px;
    width: 30px;
}

.arrows i{
    
}

.profile img{
     display: flex;
    align-items: center;
    cursor: pointer;
    object-fit: cover;
    height: 40px;
    width: 40px;
    border-radius: 50%;
   
}

